# Doc to gitignore
# https://linuxize.com/post/gitignore-ignoring-files-in-git/#gitignore-patterns


#Do not include following folders:
**/build
**/dist


#Do not include following files:
/GetReadyToWork.spec
logs/**
*.log


# Ignore all __pycache__ folders anywhere in the project
**/__pycache__/
*.pyc


# Ignore release folders for all platforms
release-windows/
release-linux/
release-mac/
release-windows.zip
